
.board-wrapper {
    width: 100%;
    display: inline-block;
    position: relative;
    overflow-y: auto;
}
.board-wrapper:after {
    padding-top: 56.25%; /*16:9 ratio*/
    display: block;
    content: '';
}
#board-content {
    height:100%;
    width:100%;
    position:absolute;
    background-color: rgb(200, 200, 200); 
    overflow: hidden;
}

.board-tab-header-list{
	height:100%;
}
.board-tab-header-list-name{
	top:0.5em;
    height:2.5em;
    cursor:pointer;
    padding:0.55em !important;
	border-top-left-radius: 10px !important;
	border-top-right-radius: 10px !important;
    border: 0 solid white !important;
	color:rgba(128,128,128,1) !important;
}
.board-tab-header-list-name:hover{
    background-color: rgba(200,200,200,1) !important;
    color:white!important;
}
.board-tab-header-list-name:active{
    background-color: rgba(200,200,200,1) !important;
    color:white!important;
}
.board-new-tab-button{
	top:0.8em;
    height:2em;
    width:2em;
    padding:0.4em !important;
	padding-top:0.3em !important;
	border-radius: 5px !important;
	border-top-right-radius: 15px !important;
    background: rgba(231,185,67,1);
	border: 0.2em dotted rgba(138,138,138,1) !important;
    color: white !important;
    margin-left:0.15em;
}
.board-new-tab-button:hover{
    color:white;
    background: rgba(58,58,58,1);
}
.board-new-tab-button:active{
    color:white;
    background: rgba(58,58,58,1);
}
.board-new-tab-text{
    font-size:1em;
}
.board-tab-header-close{
	font-size: 1em;
}
.board-tab-header-close:hover{
    color: rgba(0,0,0,1);
}
.board-tab-header-close:hover{
    color: rgba(0,0,0,1);
}
.board-tab-wrapper{
    position: absolute;
    height:100%;
    width:100%;
    overflow-x: auto;
    overflow-y: auto;
    background-color: rgba(240,240,240,1);
}
.board-tab-page{
    margin: 0 auto;
    margin-top:0.3em;
    background-color: white
}
.board-tab-page:first-child{
    margin-top:0em;
}
.tabfront{
    z-index: 5;
}
.loading-screen{
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:2;
    background: grey;
    position:absolute;
}


.board-tab{
    background-color: rgba(240,240,240,1);
}
.board-tab-page-drawing{
    position: absolute;
    cursor: pointer;
}
.board-tab-page-background{
    background-color: white;
}
.drawingFront{
    z-index: 10;
}
.disablePointerEvents{
    pointer-events:none;
}
.board-tab-page-drawing:active {
    cursor: pointer;
}
.board-cursor{
    position: absolute;
    min-height: 0.6em;
    min-width: 0.6em;
    -moz-border-radius: 0.6em;
    border-radius: 0.6em;
    z-index:9;
    vertical-align:text-top;
    pointer-events:none;
}
.board-cursor-text{
    position: absolute;
    top:-0.8em;
    padding-left: 1.0em;
    font-size: 0.7em;
    white-space:nowrap;
}
.board-tab-page-text{
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.board-toolbar{
    list-style-type: none;
    padding:0;
    margin:0;
    position: absolute;
    width:100%;
    background: rgba(138, 138, 138, 0.95);
}

.toolbar-toggle{
    width: 3em;
    height: 3em;
    position:absolute;
    top:0;
    left:0;
    background: rgba(58, 58, 58, 1);
    color: white;
    cursor: pointer;
	border-top-left-radius:0.3em;
	border-top-right-radius:0.3em;
}
.toolbar-toggle:hover{
    background: rgba(138, 138, 138, 1);
}
.toolbar-toggle:active{
    background: rgba(138, 138, 138, 1);
}
.toolbar-toggle-text{
    font-size: 2em;
    padding: 0.25em;
    padding-left: 0.3em;
}
.toolbar-btn{
    height:2.2em;
    width:2.2em;
    padding:0;
    margin: 0.4em;
    text-align:center;
    line-height: 2.4em;
    color: rgba(0,0,0, 1);
}
.toolbar-btn-highligher{
    box-shadow: 0px -5px 3px -2px white;
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); /* IE 9 */
    -webkit-transform:rotate(180deg); /* Safari and Chrome */
    -moz-transform: rotate(180deg);
}

.toolbar-btn:hover{
    background-color: white;
    cursor: pointer;
    color: black;
}
.toolbar-btn:active{
    background-color: white;
    cursor: pointer;
    color: black;
}

.itemSelected{
    background-color: white;
}

.itemSelected:hover{
    background-color: white;
}
.itemSelected:active{
    background-color: white;
}

.toolbar-text{
    vertical-align: middle;
    display: inline-block;
    font-size: 1.4em;
}


.toolbar-separator{
    height: 1px;
    padding: 0px;
    margin: 0.3em;
    background-color: rgba(255,255,255,0.7);
}

.color-picker{
    background-color: rgba(230,230,230,1);
}


.color-picker-item{
    display:inline;
    background-color: transparent;
}

.color-picker-item:hover{
    background-color: transparent;
    opacity: 0.6;
}

.picker-tick{
    text-shadow:1px 1px 2px #000, -1px -1px 2px #000,-1px 1px 2px #000,1px -1px 2px #000;
    color: rgba(255,255,255,1);
}

.canvasMenu {
  position: absolute;
  display:none;
  z-index:100;
}


.zoom-button {
  font-size:1.3em !important;
  top:-0.1em !important;
  left:-0.1em !important;
}

.zoom-plus-minus {
  font-size:0.5em !important;
  top:-0.4em !important;
  left:-0.4em !important;
}

.board-tab-page-index{
    background: rgba(138,138,138,0.8);
    height: 2em;
    padding: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
	border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
	width:6em;
    right:18em;
    top:3em;
    z-index:1000;
    cursor:pointer;
}
.board-tab-page-index:hover{
    background: rgba(138,138,138,1.0);
}
.board-tab-page-index:active{
    background: rgba(138,138,138,1.0);
}

.fixed{
    position:fixed;
}