@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,600,700,800,900|Pacifico);
@import url('fonts/weloveiconfonts.css');

[class*="entypo-"]:before {
font-family:entypo,sans-serif;
}

i {
font-style:normal;
}

body,button,input,select,textarea {
text-rendering:optimizeLegibility;
-webkit-font-smoothing:antialiased;
color:#fff;
}
/*
p {
margin-bottom:60px;
text-align:center;
color:#fff;
font-family:Raleway,sans-serif;
font-weight:600;
text-transform:uppercase;
letter-spacing:.05em;
font-size:1.5rem;
line-height:2rem;
padding:0 15px;
}
*/
a {
text-decoration:none;
color:#fff;
border-bottom:solid 1px #fafafa;
}

a:hover {
color:#4761e2;
text-decoration:none;
-webkit-transition:all,300ms;
-moz-transition:all,300ms;
-o-transition:all,300ms;
transition:all,300ms;
}

h1,h2 {
font-size:3.2rem;
font-family:Raleway,sans-serif;
font-weight:700;
}

h3 {
font-size:2.6rem;
font-family:Raleway,sans-serif;
}

.slide-titles {
font-family:Pacifico,cursive;
font-weight:400;
padding-left:15px;
}

b {
font-weight:700;
}

ul,ol {
margin-bottom:20px;
padding-left:20px;
font-size:1.6rem;
}

ul li,ol li {
margin:5px 0;
}

.animated {
-webkit-animation-fill-mode:both;
-moz-animation-fill-mode:both;
-ms-animation-fill-mode:both;
-o-animation-fill-mode:both;
animation-fill-mode:both;
-webkit-animation-duration:1s;
-moz-animation-duration:1s;
-ms-animation-duration:1s;
-o-animation-duration:1s;
animation-duration:1s;
}

.animated.hinge {
-webkit-animation-duration:1s;
-moz-animation-duration:1s;
-ms-animation-duration:1s;
-o-animation-duration:1s;
animation-duration:1s;
}

100% {
-webkit-transform:translateX(20px);
-moz-transform:translateX(20px);
-o-transform:translateX(20px);
opacity:0;
transform:translateX(20px);
}

.delay-0 {
animation-delay:0;
-moz-animation-delay:0;
-webkit-animation-delay:0;
}

.delay-1 {
animation-delay:500ms;
-moz-animation-delay:500ms;
-webkit-animation-delay:500ms;
}

.delay-2 {
animation-delay:1000ms;
-moz-animation-delay:1000ms;
-webkit-animation-delay:1000ms;
}

.delay-3 {
animation-delay:1500ms;
-moz-animation-delay:1500ms;
-webkit-animation-delay:1500ms;
}

.delay-4 {
animation-delay:2000ms;
-moz-animation-delay:2000ms;
-webkit-animation-delay:2000ms;
}

.delay-5 {
animation-delay:2500ms;
-moz-animation-delay:2500ms;
-webkit-animation-delay:2500ms;
}

.delay-6 {
animation-delay:3000ms;
-moz-animation-delay:3000ms;
-webkit-animation-delay:3000ms;
}

.delay-7 {
animation-delay:3500ms;
-moz-animation-delay:3500ms;
-webkit-animation-delay:3500ms;
}

.delay-8 {
animation-delay:4000ms;
-moz-animation-delay:4000ms;
-webkit-animation-delay:4000ms;
}

.delay-9 {
animation-delay:4500ms;
-moz-animation-delay:4500ms;
-webkit-animation-delay:4500ms;
}

.delay-10 {
animation-delay:5000ms;
-moz-animation-delay:5000ms;
-webkit-animation-delay:5000ms;
}

.delay-11 {
animation-delay:5500ms;
-moz-animation-delay:5500ms;
-webkit-animation-delay:5500ms;
}

.delay-12 {
animation-delay:6000ms;
-moz-animation-delay:6000ms;
-webkit-animation-delay:6000ms;
}

.delay-13 {
animation-delay:6500ms;
-moz-animation-delay:6500ms;
-webkit-animation-delay:6500ms;
}

.delay-14 {
animation-delay:7000ms;
-moz-animation-delay:7000ms;
-webkit-animation-delay:7000ms;
}

.delay-15 {
animation-delay:7500ms;
-moz-animation-delay:7500ms;
-webkit-animation-delay:7500ms;
}

.delay-16 {
animation-delay:8000ms;
-moz-animation-delay:8000ms;
-webkit-animation-delay:8000ms;
}

.delay-17 {
animation-delay:8500ms;
-moz-animation-delay:8500ms;
-webkit-animation-delay:8500ms;
}

.delay-18 {
animation-delay:9000ms;
-moz-animation-delay:9000ms;
-webkit-animation-delay:9000ms;
}

.delay-19 {
animation-delay:9500ms;
-moz-animation-delay:9500ms;
-webkit-animation-delay:9500ms;
}

.fadeIn {
-webkit-animation-name:fadeIn;
-moz-animation-name:fadeIn;
-o-animation-name:fadeIn;
animation-name:fadeIn;
}

.fadeInUp {
-webkit-animation-name:fadeInUp;
-moz-animation-name:fadeInUp;
-o-animation-name:fadeInUp;
animation-name:fadeInUp;
}

.fadeInDown {
-webkit-animation-name:fadeInDown;
-moz-animation-name:fadeInDown;
-o-animation-name:fadeInDown;
animation-name:fadeInDown;
}

.fadeInLeft {
-webkit-animation-name:fadeInLeft;
-moz-animation-name:fadeInLeft;
-o-animation-name:fadeInLeft;
animation-name:fadeInLeft;
}

.fadeInRight {
-webkit-animation-name:fadeInRight;
-moz-animation-name:fadeInRight;
-o-animation-name:fadeInRight;
animation-name:fadeInRight;
}

.fadeInDownBig {
-webkit-animation-name:fadeInDownBig;
-moz-animation-name:fadeInDownBig;
-o-animation-name:fadeInDownBig;
animation-name:fadeInDownBig;
}

.fadeOut {
-webkit-animation-name:fadeOut;
-moz-animation-name:fadeOut;
-o-animation-name:fadeOut;
animation-name:fadeOut;
}

.fadeOutUp {
-webkit-animation-name:fadeOutUp;
-moz-animation-name:fadeOutUp;
-o-animation-name:fadeOutUp;
animation-name:fadeOutUp;
}

.fadeOutDown {
-webkit-animation-name:fadeOutDown;
-moz-animation-name:fadeOutDown;
-o-animation-name:fadeOutDown;
animation-name:fadeOutDown;
}

.fadeOutLeft {
-webkit-animation-name:fadeOutLeft;
-moz-animation-name:fadeOutLeft;
-o-animation-name:fadeOutLeft;
animation-name:fadeOutLeft;
}

.fadeOutRight {
-webkit-animation-name:fadeOutRight;
-moz-animation-name:fadeOutRight;
-o-animation-name:fadeOutRight;
animation-name:fadeOutRight;
}

h1 {
margin-top:40px;
margin-bottom:40px;
text-align:center;
color:#fff;
font-family:Raleway,sans-serif;
font-weight:700;
text-transform:uppercase;
letter-spacing:.1em;
font-size:2.8rem;
}

p span {
color:#555;
}

.take-a-look {
cursor:pointer;
display:block;
width:160px;
border:solid 2px #fff;
text-align:center;
color:#fff;
text-transform:uppercase;
font-family:Raleway,sans-serif;
font-weight:900!important;
letter-spacing:.1em;
-webkit-transition:all,400ms;
-moz-transition:all,400ms;
-o-transition:all,400ms;
transition:all,400ms;
margin:0 auto;
padding:8px 16px;
}

.take-a-look:hover {
background-color:rgba(255,255,255,0.25);
}

.take-a-look i {
margin-right:5px;
}

.home-phone {
margin-top:100px;
}

.home-copy {
-webkit-transition:position,700ms;
-moz-transition:position,700ms;
-o-transition:position,700ms;
transition:position,700ms;
}

#big-video-wrap {
position:fixed;
height:100%;
width:100%;
top:0;
left:0;
opacity:0;
overflow:hidden;
}

#big-video-wrap.hide-video {
opacity:0!important;
}

#big-video-vid,#big-video-image {
position:absolute;
}

.home {
background-color:#f1c40f;
}

.slide-1 {
background-color:rgba(26,188,156,0.7);
-webkit-transition:all,400ms;
-moz-transition:all,400ms;
-o-transition:all,400ms;
transition:all,400ms;
}

.slide-2 {
background-color:rgba(52,73,94,0.7);
-webkit-transition:all,400ms;
-moz-transition:all,400ms;
-o-transition:all,400ms;
transition:all,400ms;
}

.slide-3 {
background-color:rgba(241,196,15,0.7);
-webkit-transition:all,400ms;
-moz-transition:all,400ms;
-o-transition:all,400ms;
transition:all,400ms;
}

.slide-3.full-color {
background-color:#f1c40f;
}

.contact {
background-color:rgba(230,126,34,0.7);
-webkit-transition:all,400ms;
-moz-transition:all,400ms;
-o-transition:all,400ms;
transition:all,400ms;
}

.contact.full-color {
background-color:#e67e22;
}

.slide p {
font-size:1.6rem;
line-height:1.8rem;
text-transform:normal;
text-align:left;
}

.slide .copy {
margin-top:15px;
}

.slide .copy p {
text-transform:none;
letter-spacing:.04em;
margin:15px 0 10px;
}

.slide-2-title,.slide-3-title {
margin-top:50px;
font-size:2.2rem;
}

.iphone-container {
margin-top:15px;
overflow:hidden;
max-height:200px;
}

.iphone-1,.iphone-2,.iphone-3 {
max-width:100%;
}

.scroll-down {
font-size:3.2rem;
display:block;
}

.slide-3 h2,.slide-3 p,.slide-3 .scroll-down {
color:#333;
}

.slide-2 .iphone-container,.slide-3 .iphone-container {
max-height:50%;
position:absolute;
bottom:0;
left:0;
}

.contact h2 {
margin-top:50px;
text-transform:uppercase;
letter-spacing:.1em;
text-align:center;
font-size:2.6rem;
}

.contact p {
text-align:left;
margin-top:20px;
margin-bottom:30px;
text-transform:none;
padding:0 20%;
}

.contact .newsletter {
width:250px;
margin:0 auto;
}

.contact input {
border:0 solid transparent;
margin-left:25px;
width:175px;
height:45px;
float:left;
background-color:#ecf0f1;
color:#333;
-webkit-box-shadow:0 0 0 #000;
-moz-box-shadow:0 0 0 #000;
box-shadow:0 0 0 #000;
-webkit-border-radius:0;
-moz-border-radius:0;
border-radius:0;
font-size:1.8rem;
padding:20px;
}

.contact input[type=text]:focus {
border:0 solid transparent;
-webkit-box-shadow:0 0 0 #000;
-moz-box-shadow:0 0 0 #000;
box-shadow:0 0 0 #000;
outline:none;
}

.contact .btn-signup {
float:left;
height:45px;
width:45px;
-webkit-border-radius:0;
-moz-border-radius:0;
border-radius:0;
background-color:#34495e;
-webkit-transition:all,300ms;
-moz-transition:all,300ms;
-o-transition:all,300ms;
transition:all,300ms;
}

.contact .btn-signup:hover {
color:#fff;
background-color:#2c3e50;
}

.contact .entypo-mail {
font-size:1.8rem;
line-height:3.2rem;
}

.contact .social {
width:140px;
margin:20px auto 0;
}

.contact .social .facebook,.contact .social .twitter {
border:solid 0 transparent;
text-align:center;
display:block;
float:left;
width:70px;
height:70px;
background-color:#34495e;
font-size:3rem;
line-height:7.2rem;
-webkit-transition:all,300ms;
-moz-transition:all,300ms;
-o-transition:all,300ms;
transition:all,300ms;
}

.contact .social .facebook:hover,.contact .social .twitter:hover {
background-color:#2c3e50;
color:#fff;
}

.onepage-pagination li a {
margin-bottom:10px;
border:solid 2px #fff;
-webkit-border-radius:100%;
-moz-border-radius:100%;
border-radius:100%;
-webkit-transition:all,400ms;
-moz-transition:all,400ms;
-o-transition:all,400ms;
transition:all,400ms;
}

.onepage-pagination li a:hover {
color:#fff;
opacity:0.5;
}

.onepage-pagination li a.active {
background-color:rgba(255,255,255,0.25);
border:solid 2px #fff;
text-decoration:none;
}

.settings {
position:absolute;
top:50px;
left:-200px;
width:200px;
height:280px;
background-color:rgba(50,50,50,0.93);
-webkit-transition:all,600ms;
-moz-transition:all,600ms;
-o-transition:all,600ms;
transition:all,600ms;
}

.settings.open {
left:0;
}

.settings .settings-title {
font-family:Raleway,sans-serif;
font-weight:700;
font-size:1.6rem;
text-transform:uppercase;
letter-spacing:.2em;
margin:15px 15px 20px;
}

.settings span {
display:block;
font-family:Raleway,sans-serif;
font-weight:700;
letter-spacing:.1em;
text-transform:uppercase;
background-color:rgba(30,30,30,0.63);
text-align:center;
font-size:1.2rem;
margin:5px 12px;
padding:10px;
}

.settings span:hover {
cursor:pointer;
background-color:rgba(50,50,50,0.53);
}

.settings .settings-subtitle {
font-size:1.3rem;
text-align:left;
margin-top:20px;
background-color:rgba(50,50,50,0)!important;
padding:0;
}

.settings .settings-subtitle:hover {
cursor:default;
background-color:rgba(50,50,50,0);
}

.settings .settings-icon {
position:absolute;
top:0;
right:-40px;
height:40px;
width:37px;
text-align:center;
background-color:rgba(50,50,50,0.28);
font-size:1.8rem;
line-height:4.2rem;
-webkit-transition:all,600ms;
-moz-transition:all,600ms;
-o-transition:all,600ms;
transition:all,600ms;
margin:0 3px 0 0;
padding:0;
}

.no-js body {
overflow:scroll!important;
}

.no-js .slide {
opacity:1!important;
height:700px!important;
}

.no-js .take-a-look,.no-js .settings-icon {
opacity:0;
position:absolute!important;
left:-9999px!important;
top:-9999px!important;
}

.no-js .slide-1 .hide,.no-js .slide-2 .hide,.no-js .slide-3 .hide {
opacity:1;
display:block!important;
position:relative!important;
left:auto!important;
top:auto!important;
}

.no-js .contact {
height:700px;
}

html {
font-size:62.5%;
}

body {
/*background:url(../img/background1.jpg) #000 top center fixed no-repeat; */
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
}

section {
overflow:hidden;
}

.icon {
position:absolute;
top:15px;
left:15px;
}

.icon span {
font-family:Pacifico,cursive;
color:#fff;
font-size:3rem;
-webkit-transition:all,400ms;
-moz-transition:all,400ms;
-o-transition:all,400ms;
transition:all,400ms;
}

.slide {
opacity:0;
}

.hide {
position:absolute;
left:-9999px;
top:-9999px;
}

.home.full-color,.slide-1.fade-background {
background-color:#e74c3c;
}

.slide-1.full-color,.slide-2.fade-background {
background-color:#1abc9c;
}

.slide-2.full-color,.slide-3.fade-background {
background-color:#e67e22 ;
}

::-moz-selection,::selection {
background:#fff;
}

@media min-width 768px{
p {
margin-bottom:50px;
font-size:1.7rem;
line-height:2.4rem;
padding:0;
}

h1 {
margin-top:60px;
margin-bottom:60px;
font-size:4.8rem;
}

.slide-2 .iphone-2 {
margin-top:150px;
}

.slide-3 .iphone-3 {
margin-top:80px;
}

.slide p {
font-size:1.8rem;
line-height:2.2rem;
}

.slide .copy {
margin-top:60px;
}

.slide .copy p {
margin:30px 0;
}

.slide-titles {
padding-left:0;
}

.slide-2-title,.slide-3-title {
margin-top:0;
font-size:3.2rem;
}

.iphone-container {
max-height:1000px;
}

.slide-2 .iphone-container,.slide-3 .iphone-container {
position:relative;
bottom:auto;
left:auto;
max-height:1000px;
}

.contact h2 {
margin-top:100px;
font-size:3.8rem;
}

.contact p {
padding:0;
}

.contact .newsletter {
width:370px;
}

.contact input {
margin-left:0;
font-size:3.2rem;
height:70px;
width:300px;
}

.contact .btn-signup {
width:70px;
height:70px;
}

.contact .entypo-mail {
font-size:3rem;
line-height:5.2rem;
}

.contact .social {
margin-top:100px;
}

.settings {
background-color:rgba(50,50,50,0.28);
top:200px;
height:360px;
}

.settings span {
background-color:rgba(50,50,50,0.33);
}
}

@media min-width 992px{
p {
font-size:2.2rem;
line-height:3.2rem;
}

h1 {
margin-top:200px;
margin-bottom:80px;
font-size:7.2rem;
}

.slide-2 .iphone-2 {
margin-top:60px;
}

.contact .newsletter {
width:420px;
}

.contact input {
width:350px;
}

.slide-2 .copy,.slide-3 .copy {
margin-top:120px!important;
}
}

@media min-width 1200px{
p {
margin-bottom:100px;
}

.slide .copy p {
margin:55px 0;
}

.contact .newsletter {
margin-top:100px;
}

.contact .social {
margin-top:150px;
}
}
